extends ../layout/main

block head 
  - var title = 'Новости'
  - var bodyClass = ''
block content
  .container
    .row
      .col
        +bread_crumbs()
    .row
      .col-lg-12
        h2.h2 Новости
      
      .col-lg-12
          img(src="img/general/def.jpg", alt="image").default-img
          h3.h3.h3--default  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, voluptate.
          p.news__date
            +svg('calendar')
            | Дата публикации: 
            b 26.12.2017
          p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Вопроса на берегу там силуэт запятой если, своего снова ее пояс о коварных одна которой себя рекламных вдали океана возвращайся, подзаголовок всеми от всех которое речью ведущими! Запятой, единственное, агенство. Там бросил возвращайся пор, рыбного семь до первую предупреждал всеми безопасную языком великий живет, повстречался за, силуэт предложения пунктуация! Свой, однажды, подпоясал.
          p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Имеет всеми подпоясал рукопись повстречался! Даже себя ему ipsum рот до эта свой, коварных злых реторический путь, ручеек приставка родного.
          p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Путь ему грустный буквоград журчит, деревни, вопрос решила но текста своего предупредила переписывается подпоясал одна по всей свое предложения? Жаренные алфавит послушавшись предупредила решила толку. Использовало эта, мир рукопись по всей родного единственное дорогу языкового залетают деревни ручеек он моей свой, текстами продолжил. Агенство власти реторический, предупреждал толку единственное текстами! Снова, себя оксмокс возвращайся ее несколько родного точках свое океана правилами! Жизни дал маленький эта знаках коварный своего, взгляд сбить, которой первую приставка лучше встретил! Несколько правилами не, деревни. Океана собрал необходимыми, даль большого рот, единственное своего, вдали лучше языком букв ее, рыбного. Предложения маленькая деревни своих за
          p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Своего над рукописи, продолжил домах оксмокс. Своих, злых родного рекламных ему залетают силуэт образ гор домах запятых переулка обеспечивает пунктуация парадигматическая букв, все прямо вопроса до диких свой напоивший! Его великий, маленький имени снова осталось домах заголовок вскоре там свой безорфографичный мир рыбного вопроса реторический то прямо подзаголовок страну, предупредила, на берегу города гор своих ручеек до последний. Не коварный до текстов приставка свое вопрос дал эта снова живет, деревни оксмокс своего пунктуация свой несколько безопасную бросил использовало парадигматическая скатился, толку.

          .default-double
            img(src="img/general/def_2.jpg", alt="image")
            img(src="img/general/def_3.jpg", alt="image")

          p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Снова рекламных домах продолжил, силуэт, буквенных рот пустился щеке точках. Ipsum свой инициал рыбными встретил моей обеспечивает его переписывается осталось!
          p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Это дал, знаках правилами, моей пор, ручеек прямо, одна приставка диких ведущими рукописи переулка назад силуэт! Ручеек щеке, языком великий образ! Продолжил рукописи, безорфографичный мир вопрос агенство наш дал одна. Что семь, гор дороге грамматики? Свою вскоре переписывается от всех меня, толку парадигматическая рукопись повстречался заглавных ведущими дал, океана его злых!

          .default-video__wrap
            .default-video
              .default-video__height
              <iframe width="560" height="315" src="https://www.youtube.com/embed/HIzt-zntzxk?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

          p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Приставка алфавит переулка lorem, там что необходимыми то даль вдали не сих это агенство текст силуэт языком на берегу повстречался! Всемогущая.

          ol.default-num
            li Нумерований список
            li Нумерований список
            li Нумерований список
            li Нумерований список
            li Нумерований список
            li Нумерований список
            li Нумерований список
            li Нумерований список
          p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Приставка алфавит переулка lorem, там что необходимыми то даль вдали не сих это агенство текст силуэт языком на берегу повстречался! Всемогущая.

          ul.default-marks
            li Маркерований список
            li Маркерований список
            li Маркерований список
            li Маркерований список
            li Маркерований список
            li Маркерований список
            li Маркерований список
            li Маркерований список

          p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Взобравшись единственное, что семь, пор не свой бросил продолжил рукопись путь ручеек города, встретил залетают вершину. Ты по всей семантика правилами парадигматическая точках предложения взобравшись запятых, грамматики, семь великий не рукопись то речью грустный щеке снова лучше своего букв инициал рыбными рыбного над сбить толку заманивший? Города алфавит имени букв вскоре переулка живет взгляд от всех семантика, заголовок, своих снова по всей но запятой рыбного дорогу заглавных себя залетают. Путь букв, точках одна.

          h1.h1 Заголовок 1
          h2.h2.h2--default Заголовок 2
          h3.h3.h3--default Заголовок 3
          h4.h4 Заголовок 4
          h5.h5 Заголовок 5

          p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Взобравшись единственное, что семь, пор не свой бросил продолжил рукопись путь ручеек города, встретил залетают вершину. Ты по всей семантика правилами парадигматическая точках предложения взобравшись запятых, грамматики, семь великий не рукопись то речью грустный щеке снова лучше своего букв инициал рыбными рыбного над сбить толку заманивший? Города алфавит имени букв вскоре переулка живет взгляд от всех семантика, заголовок, своих снова по всей но запятой рыбного дорогу заглавных себя залетают. Путь букв, точках одна.

          table.table
            tr.table__row-title
              th №
              th Наименование
              th Стоимость
              th Статус
              th Сумма
            tr.table__row-content
              td(data-title="№").table__td 4
              td(data-title="Наименование").table__td Наименование товара 
              td(data-title="Стоимость").table__td 1500 руб. 
              td(data-title="Статус").table__td Новый
              td(data-title="Сумма").table__td 500 руб.
            tr.table__row-content
              td(data-title="№").table__td 8
              td(data-title="Наименование").table__td Наименование товара 
              td(data-title="Стоимость").table__td 1500 руб. 
              td(data-title="Статус").table__td В обработке
              td(data-title="Сумма").table__td 500 руб.
            tr.table__row-content
              td(data-title="№").table__td 3
              td(data-title="Наименование").table__td Наименование товара 
              td(data-title="Стоимость").table__td 1500 руб. 
              td(data-title="Статус").table__td Выполнен
              td(data-title="Сумма").table__td 500 руб.
            tr.table__row-content
              td(data-title="№").table__td 3
              td(data-title="Наименование").table__td Наименование товара 
              td(data-title="Стоимость").table__td 1500 руб. 
              td(data-title="Статус").table__td Новый
              td(data-title="Сумма").table__td 500 руб.


          p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Взобравшись единственное, что семь, пор не свой бросил продолжил рукопись путь ручеек города, встретил залетают вершину. Ты по всей семантика правилами парадигматическая точках предложения взобравшись запятых, грамматики, семь великий не рукопись то речью грустный щеке снова лучше своего букв инициал рыбными рыбного над сбить толку заманивший? Города алфавит имени букв вскоре переулка живет взгляд от всех семантика, заголовок, своих снова по всей но запятой рыбного дорогу заглавных себя залетают. Путь букв, точках одна.

          p
            label
              input(type="checkbox", name='Лодки "Мореман"')
              | Лодки "Мореман"
          p
            label
              input(type="checkbox", name='Лодки "Мореман"', checked)
              | Лодки "Мореман"

          p
            label
              input(type="radio", name='Лодки', checked)
              | Лодки
          p
            label
              input(type="radio", name='Лодки', checked)
              | Лодки

          p  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Взобравшись единственное, что семь, пор не свой бросил продолжил рукопись путь ручеек города, встретил залетают вершину. Ты по всей семантика правилами парадигматическая точках предложения взобравшись запятых, грамматики, семь великий


          p
          .form__item
            +svg('user')
            input(type="text", name="name", placeholder="ФИО")

          p
          .form__item.form__item--correct
            +svg('user')
            input(type="text", name="name", placeholder="ФИО")
 
          p
          .form__item.form__item--incorrect
            +svg('user')
            input(type="text", name="name", placeholder="ФИО")



//- 