extends ../layout/main

block head 
  - var title = 'Главная'
  - var bodyClass = ''
block content
  .container
    .row.info-block
      .col-xl-9
        .main-slider
          .main-slider__item
            .main-slider__content(style="background-image: url(img/content/main_sl_1.jpg)")
              .main-slider__content-height
              .main-slider__content-fill
                .main-slider__title Акция
                .main-slider__desc Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке
                a.btn.btn--def.btn--orange.main-slider__link(href="#") Подробнее
          .main-slider__item
            .main-slider__content(style="background-image: url(img/content/main_sl_2.jpg)")
              .main-slider__content-height
              .main-slider__content-fill
                .main-slider__title Акция
                .main-slider__desc Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке
                a.btn.btn--def.btn--orange.main-slider__link(href="#") Подробнее
      .col-xl-3
        .news-block.news-block--main
          b.news-block__title Новости
          .news-block__desc Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет выполнять важные 
          .news-block__btns
            a.btn.btn--def.btn--orange(href="#") Подробнее
            a.btn.btn--def.btn--black(href="#") Все новости
  

    .row
      .col-xl-3 .col-xl-3
      .col-xl-9
        .row
          .col-xl-12.product-layout
            .product-item
              .product-item__actions
                .actions__item.actions__item--sale sale
                //- .actions__item.actions__item--new new
                //- .actions__item.actions__item--hit hit
              .product-item__info
                .product-item__option.product-item__favorite
                  +svg('heart_fill') 
                  | В избранное
                .product-item__option.product-item__status.product-item__status--available
                  +svg('available') 
                  | В наличии
                //- .product-item__option.product-item__status.product-item__status--unavailable
                  +svg('cancel') 
                  | Нет в наличии
              .product-item__img
                img(src="img/content/goods_1.png", alt="image")
              .product-item__content 
                strong.product-item__title Слаломная лыжа "Freeride"
                p.product-item__vendor Артикул: <b>155268</b>
                p.product-item__desc Таким образом консультация с широким активом позволяет выполнять важные задания по разработке направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что консультация с широким активом позволяет выполнять важные задания по разработке модели развития. 
                p.product-item__produce Производитель: <b>"Zodiac"</b>
                .product-item__foot
                  .product-item__price
                    .product-item__price-cur
                      b 20 799 
                      | руб.
                    .product-item__price-old
                      b 20 900 
                      | руб.
                  .product-item__btn-block 
                    a.btn.btn--def.btn--orange.btn--fluid(href="#") Подробнее
                    a.btn.btn--def.btn--fluid.btn--blue(href="#") Добавить в корзину

          .col-xl-12.product-layout
            .product-item
              .product-item__actions
                //- .actions__item.actions__item--sale sale
                .actions__item.actions__item--new new
                //- .actions__item.actions__item--hit hit
              .product-item__info
                .product-item__option.product-item__favorite
                  +svg('heart_fill') 
                  | В избранное
                //- .product-item__option.product-item__status.product-item__status--available
                  +svg('available') 
                  | В наличии
                .product-item__option.product-item__status.product-item__status--unavailable
                  +svg('cancel') 
                  | Нет в наличии
              .product-item__img
                img(src="img/content/goods_2.png", alt="image")
              .product-item__content 
                strong.product-item__title FAD Board
                p.product-item__vendor Артикул: <b>155268</b>
                p.product-item__desc Таким образом консультация с широким активом позволяет выполнять важные задания по разработке направлений прогрессивного развития. Значимость этих проблем настолько очевидна
                p.product-item__produce Производитель: <b>"Zodiac"</b>
                .product-item__foot
                  .product-item__price
                    .product-item__price-cur
                      b 20 799 
                      | руб.
                    .product-item__price-old
                      b 20 900 
                      | руб.
                  .product-item__btn-block 
                    a.btn.btn--def.btn--orange.btn--fluid(href="#") Подробнее
                    a.btn.btn--def.btn--fluid.btn--blue(href="#") Добавить в корзину

          .col-xl-12.product-layout
            .product-item
              .product-item__actions
                //- .actions__item.actions__item--sale sale
                //- .actions__item.actions__item--new new
                .actions__item.actions__item--hit hit
              .product-item__info
                .product-item__option.product-item__favorite
                  +svg('heart_fill') 
                  | В избранное
                //- .product-item__option.product-item__status.product-item__status--available
                  +svg('available') 
                  | В наличии
                .product-item__option.product-item__status.product-item__status--unavailable
                  +svg('cancel') 
                  | Нет в наличии
              .product-item__img
                img(src="img/content/goods_3.png", alt="image")
              .product-item__content 
                strong.product-item__title FAD Board 2
                p.product-item__vendor Артикул: <b>155268</b>
                p.product-item__desc Таким образом консультация с широким активом позволяет выполнять 
                p.product-item__produce Производитель: <b>"Zodiac"</b>
                .product-item__foot
                  .product-item__price
                    .product-item__price-cur
                      b 20 799 
                      | руб.
                    .product-item__price-old
                      b 20 900 
                      | руб.
                  .product-item__btn-block 
                    a.btn.btn--def.btn--orange.btn--fluid(href="#") Подробнее
                    //- a.btn.btn--def.btn--fluid.btn--blue(href="#") Добавить в корзину
