extends ../layout/main

block head 
  - var title = 'Новости'
  - var bodyClass = ''
block content
  .container
    .row
      .col
        +bread_crumbs()
    .row
      .col-lg-12
        h2.h2 Новости
      .col-lg-12
        .news
          a.news__img(href="#")
            .news__img-height
            img(src="img/content/boat/boat_2.jpg", alt="image")
          .news__content
            a.news__title(href="#") Значимость этих проблем настолько очевидна, что консультация с широким активом требуют определения и уточнения существенных финансовых и административных условий. 
            p.news__date
              +svg('calendar')
              | Дата публикации: 
              b 26.12.2017
            p.news__desc Таким образом консультация с широким активом позволяет выполнять важные задания по разработке направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что консультация с широким активом позволяет выполнять важные задания по разработке модели развития. 
            .news__btn
              a.btn.btn--def.btn--orange(href="#") Подробнее
      
        .news
          // a.news__img(href="#")
            .news__img-height
            img(src="img/content/boat/boat_2.jpg", alt="image")
          .news__content
            a.news__title(href="#") Значимость этих проблем настолько очевидна, что консультация с широким активом требуют определения и уточнения существенных финансовых и административных условий. 
            p.news__date
              +svg('calendar')
              | Дата публикации: 
              b 26.12.2017
            p.news__desc Таким образом консультация с широким активом позволяет выполнять важные задания по разработке направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что консультация с широким активом позволяет выполнять важные задания по разработке модели развития. 
            .news__btn
              a.btn.btn--def.btn--orange(href="#") Подробнее
      
        .news
          a.news__img(href="#")
            .news__img-height
            img(src="img/content/boat/boat_2.jpg", alt="image")
          .news__content
            a.news__title(href="#") Значимость этих проблем настолько очевидна, что консультация с широким активом требуют определения и уточнения существенных финансовых и административных условий. 
            p.news__date
              +svg('calendar')
              | Дата публикации: 
              b 26.12.2017
            p.news__desc Таким образом консультация с широким активом позволяет выполнять важные задания по разработке направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что консультация с широким активом позволяет выполнять важные задания по разработке модели развития. 
            .news__btn
              a.btn.btn--def.btn--orange(href="#") Подробнее
      
        .news
          a.news__img(href="#")
            .news__img-height
            img(src="img/content/boat/boat_2.jpg", alt="image")
          .news__content
            a.news__title(href="#") Значимость этих проблем настолько очевидна, что консультация с широким активом требуют определения и уточнения существенных финансовых и административных условий. 
            p.news__date
              +svg('calendar')
              | Дата публикации: 
              b 26.12.2017
            p.news__desc Таким образом консультация с широким активом позволяет выполнять важные задания по разработке направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что консультация с широким активом позволяет выполнять важные задания по разработке модели развития. 
            .news__btn
              a.btn.btn--def.btn--orange(href="#") Подробнее
      
    .row
      .col-lg-12
        +pagination()






















































//- 