extends ../layout/main

block head 
  - var title = 'Товар с под товаром'
  - var bodyClass = ''
block content
  .container
    .row
      .col
        +bread_crumbs()
    .row
      .col
        .info-titles
          h2.h2 Слаломная лыжа "Freeride"
          a.info-titles__btn-link(href="#")
            +svg('faq')
            | Задать вопрос по товару

    .row
      .col-lg-7
        .goods-slider
          .goods-slider__container
            .goods-slider__item(style="background-image: url(img/content/boat/boat_1.jpg)")
              .product-item__info
                .product-item__option.product-item__option--favorite
                  +svg('heart_fill') 
                  | В избранное
              .goods-slider__height
            .goods-slider__item(style="background-image: url(img/content/boat/boat_2.jpg)")
              .product-item__info
                .product-item__option.product-item__option--favorite
                  +svg('heart_fill') 
                  | В избранное
              .goods-slider__height
            .goods-slider__item(style="background-image: url(img/content/boat/boat_3.jpg)")
              .product-item__info
                .product-item__option.product-item__option--favorite
                  +svg('heart_fill') 
                  | В избранное
              .goods-slider__height
            .goods-slider__item(style="background-image: url(img/content/boat/boat_4.jpg)")
              .product-item__info
                .product-item__option.product-item__option--favorite
                  +svg('heart_fill') 
                  | В избранное
              .goods-slider__height
            .goods-slider__item(style="background-image: url(img/content/boat/boat_5.jpg)")
              .product-item__info
                .product-item__option.product-item__option--favorite
                  +svg('heart_fill') 
                  | В избранное
              .goods-slider__height
            .goods-slider__item(style="background-image: url(img/content/boat/boat_6.jpg)")
              .product-item__info
                .product-item__option.product-item__option--favorite
                  +svg('heart_fill') 
                  | В избранное
              .goods-slider__height
        .goods-slider-nav
          .goods-slider-nav__item-wrap
            .goods-slider-nav__item(style="background-image: url(img/content/boat/boat_1.jpg)")
              .goods-slider-nav__height
          .goods-slider-nav__item-wrap
            .goods-slider-nav__item(style="background-image: url(img/content/boat/boat_2.jpg)")
              .goods-slider-nav__height
          .goods-slider-nav__item-wrap
            .goods-slider-nav__item(style="background-image: url(img/content/boat/boat_3.jpg)")
              .goods-slider-nav__height
          .goods-slider-nav__item-wrap
            .goods-slider-nav__item(style="background-image: url(img/content/boat/boat_4.jpg)")
              .goods-slider-nav__height
          .goods-slider-nav__item-wrap
            .goods-slider-nav__item(style="background-image: url(img/content/boat/boat_5.jpg)")
              .goods-slider-nav__height
          .goods-slider-nav__item-wrap
            .goods-slider-nav__item(style="background-image: url(img/content/boat/boat_6.jpg)")
              .goods-slider-nav__height














































//- 