extends ../layout/main

block head 
  - var title = 'Товар с под товаром'
  - var bodyClass = ''
block content
  .container
    .row
      .col
        +bread_crumbs()
    .row
      .col
        .info-titles
          h2.h2 Слаломная лыжа "Freeride"
          a.info-titles__btn-link(href="#quest", data-touch="false", data-fancybox="quest")
            +svg('faq')
            | Задать вопрос по товару

    .row
      .col-lg-7
        .goods-slider
          .product-item__info
            .product-item__option.product-item__option--favorite
              +svg('heart_fill') 
              | В избранное
          .goods-slider__container
            .goods-slider__item(style="background-image: url(img/content/boat/boat_1.jpg)", data-fancybox="images", data-touch="false", data-src="img/content/boat/boat_1.jpg")
              .goods-slider__height
            .goods-slider__item(style="background-image: url(img/content/boat/boat_2.jpg)", data-fancybox="images", data-touch="false", data-src="img/content/boat/boat_2.jpg")
              .goods-slider__height
            .goods-slider__item(style="background-image: url(img/content/boat/boat_3.jpg)", data-fancybox="images", data-touch="false", data-src="img/content/boat/boat_3.jpg")
              .goods-slider__height
            .goods-slider__item(style="background-image: url(img/content/boat/boat_4.jpg)", data-fancybox="images", data-touch="false", data-src="img/content/boat/boat_4.jpg")
              .goods-slider__height
            .goods-slider__item(style="background-image: url(img/content/boat/boat_5.jpg)", data-fancybox="images", data-touch="false", data-src="img/content/boat/boat_5.jpg")
              .goods-slider__height
            .goods-slider__item(style="background-image: url(img/content/boat/boat_6.jpg)", data-fancybox="images", data-touch="false", data-src="img/content/boat/boat_6.jpg")
              .goods-slider__height
        .goods-slider-nav
          .goods-slider-nav__item-wrap
            .goods-slider-nav__item(style="background-image: url(img/content/boat/boat_1.jpg)")
              .goods-slider-nav__height
          .goods-slider-nav__item-wrap
            .goods-slider-nav__item(style="background-image: url(img/content/boat/boat_2.jpg)")
              .goods-slider-nav__height
          .goods-slider-nav__item-wrap
            .goods-slider-nav__item(style="background-image: url(img/content/boat/boat_3.jpg)")
              .goods-slider-nav__height
          .goods-slider-nav__item-wrap
            .goods-slider-nav__item(style="background-image: url(img/content/boat/boat_4.jpg)")
              .goods-slider-nav__height
          .goods-slider-nav__item-wrap
            .goods-slider-nav__item(style="background-image: url(img/content/boat/boat_5.jpg)")
              .goods-slider-nav__height
          .goods-slider-nav__item-wrap
            .goods-slider-nav__item(style="background-image: url(img/content/boat/boat_6.jpg)")
              .goods-slider-nav__height

        .tabs.tabs--goods
          ul.tabs__list
            li.tabs__list-item.active-tab Описание
            li.tabs__list-item Справочная информация
            li.tabs__list-item Спецификация
          .tabs__content.active-tab
            h2.h2 Описание
            p Разнообразный и богатый опыт консультация с широким активом требуют определения и уточнения новых предложений. С другой стороны начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки соответствующий условий активизации. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке модели развития. Не следует, однако забывать, что начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации новых предложений. Равным образом рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития.
            p Разнообразный и богатый опыт консультация с широким активом требуют определения и уточнения новых предложений. С другой стороны начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки соответствующий условий активизации. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке модели развития. Не следует, однако забывать, что начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации новых предложений. Равным образом рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития.
            .goods-char
              h3.h3 Характеристики
              table.goods-char__table(cellspacing="0", cellpadding="0")
                tr.goods-char__row
                  td.goods-char__col Цвет
                  td.goods-char__col: b Серебристый
                tr.goods-char__row
                  td.goods-char__col Индикация температуры
                  td.goods-char__col: b Да 
                tr.goods-char__row
                  td.goods-char__col Количество дверей
                  td.goods-char__col: b 2 
                tr.goods-char__row
                  td.goods-char__col Тип управления
                  td.goods-char__col: b электронное
                tr.goods-char__row
                  td.goods-char__col Водонепроницаемость
                  td.goods-char__col: b Есть
          .tabs__content
            h2.h2 Справочная информация
            p Разнообразный и богатый опыт консультация с широким активом требуют определения и уточнения новых предложений. С другой стороны начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки соответствующий условий активизации. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке модели развития. Не следует, однако забывать, что начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации новых предложений. Равным образом рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития.
            p Разнообразный и богатый опыт консультация с широким активом требуют определения и уточнения новых предложений. С другой стороны начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки соответствующий условий активизации. Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке модели развития. Не следует, однако забывать, что начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации новых предложений. Равным образом рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития.          
          .tabs__content
            h2.h2 Спецификация
            .goods-char
              h3.h3 Характеристики дизайна
              table.goods-char__table(cellspacing="0", cellpadding="0")
                tr.goods-char__row
                  td.goods-char__col Цвет
                  td.goods-char__col: b Серебристый
                tr.goods-char__row
                  td.goods-char__col Индикация температуры
                  td.goods-char__col: b Да 
                tr.goods-char__row
                  td.goods-char__col Количество дверей
                  td.goods-char__col: b 2 
                tr.goods-char__row
                  td.goods-char__col Тип управления
                  td.goods-char__col: b электронное
                tr.goods-char__row
                  td.goods-char__col Водонепроницаемость
                  td.goods-char__col: b Есть
            .goods-char
              h3.h3 Вес и габариты
              table.goods-char__table(cellspacing="0", cellpadding="0")
                tr.goods-char__row
                  td.goods-char__col Общий объем
                  td.goods-char__col: b 517
                tr.goods-char__row
                  td.goods-char__col Объем холодильной камеры
                  td.goods-char__col: b 340 
                tr.goods-char__row
                  td.goods-char__col Объем нулевой камеры
                  td.goods-char__col: b 0 
                tr.goods-char__row
                  td.goods-char__col Ширина
                  td.goods-char__col: b 90
                tr.goods-char__row
                  td.goods-char__col Глубина
                  td.goods-char__col: b 70
      .col-lg-5
        .mini-goods
          .product-item__option.product-item__option--favorite
            +svg('heart_fill') 
          .mini-goods__part.mini-goods__part--l
            .mini-goods__img
              img(src="img/content/goods_1.png", alt="image")
            .mini-goods__desc
              b.mini-goods__title Слаломная лыжа "Freeride"
              p
                span
                  b Цвет: 
                  | Красный
                span
                  b Размер: 
                  | 120х35
              .mini-goods__vendor Артикул: 
                b 155268
          .mini-goods__part.mini-goods__part--r
            .product-item__price
              .product-item__price-cur
                b 20 799 
                | руб.
              .product-item__price-old
                b 20 900 
                | руб.
            .mini-goods__btns
              a.product-item__option.product-item__option--status.product-item__option--status-available(href="#goods_nal", data-fancybox="gp_1")
                +svg('available') 
                span В наличии
              a.btn.btn--def.btn--fluid.btn--blue(href="#") В корзину
        .mini-goods
          .product-item__option.product-item__option--favorite
            +svg('heart_fill') 
          .mini-goods__part.mini-goods__part--l
            .mini-goods__img
              img(src="img/content/goods_1.png", alt="image")
            .mini-goods__desc
              b.mini-goods__title Слаломная лыжа "Freeride"
              p
                span
                  b Цвет: 
                  | Красный
                span
                  b Размер: 
                  | 120х35
              .mini-goods__vendor Артикул: 
                b 155268
          .mini-goods__part.mini-goods__part--r
            .product-item__price
              .product-item__price-cur
                b 20 799 
                | руб.
              .product-item__price-old
                b 20 900 
                | руб.
            .mini-goods__btns
              a.product-item__option.product-item__option--status.product-item__option--status-available(href="#goods_nal", data-fancybox="gp_2")
                +svg('available') 
                span В наличии
              a.btn.btn--def.btn--fluid.btn--blue(href="#") В корзину
        .mini-goods
          .product-item__option.product-item__option--favorite
            +svg('heart_fill') 
          .mini-goods__part.mini-goods__part--l
            .mini-goods__img
              img(src="img/content/goods_1.png", alt="image")
            .mini-goods__desc
              b.mini-goods__title Слаломная лыжа "Freeride"
              p
                span
                  b Цвет: 
                  | Красный
                span
                  b Размер: 
                  | 120х35
              .mini-goods__vendor Артикул: 
                b 155268
          .mini-goods__part.mini-goods__part--r
            .product-item__price
              .product-item__price-cur
                b 20 799 
                | руб.
              .product-item__price-old
                b 20 900 
                | руб.
            .mini-goods__btns
              a.product-item__option.product-item__option--status.product-item__option--status-available(href="#goods_nal", data-fancybox="gp_3")
                +svg('available') 
                span В наличии
              a.btn.btn--def.btn--fluid.btn--blue(href="#") В корзину
        .mini-goods
          .product-item__option.product-item__option--favorite
            +svg('heart_fill') 
          .mini-goods__part.mini-goods__part--l
            .mini-goods__img
              img(src="img/content/goods_1.png", alt="image")
            .mini-goods__desc
              b.mini-goods__title Слаломная лыжа "Freeride"
              p
                span
                  b Цвет: 
                  | Красный
                span
                  b Размер: 
                  | 120х35
              .mini-goods__vendor Артикул: 
                b 155268
          .mini-goods__part.mini-goods__part--r
            .product-item__price
              .product-item__price-cur
                b 20 799 
                | руб.
              .product-item__price-old
                b 20 900 
                | руб.
            .mini-goods__btns
              a.product-item__option.product-item__option--status.product-item__option--status-available(href="#goods_nal", data-fancybox="gp_4")
                +svg('available') 
                span В наличии
              a.btn.btn--def.btn--fluid.btn--blue(href="#") В корзину
        .mini-goods
          .product-item__option.product-item__option--favorite
            +svg('heart_fill') 
          .mini-goods__part.mini-goods__part--l
            .mini-goods__img
              img(src="img/content/goods_1.png", alt="image")
            .mini-goods__desc
              b.mini-goods__title Слаломная лыжа "Freeride"
              p
                span
                  b Цвет: 
                  | Красный
                span
                  b Размер: 
                  | 120х35
              .mini-goods__vendor Артикул: 
                b 155268
          .mini-goods__part.mini-goods__part--r
            .product-item__price
              .product-item__price-cur
                b 20 799 
                | руб.
              .product-item__price-old
                b 20 900 
                | руб.
            .mini-goods__btns
              a.product-item__option.product-item__option--status.product-item__option--status-available(href="#goods_nal", data-fancybox="gp_5")
                +svg('available') 
                span В наличии
              a.btn.btn--def.btn--fluid.btn--blue(href="#") В корзину
        .mini-goods
          .product-item__option.product-item__option--favorite
            +svg('heart_fill') 
          .mini-goods__part.mini-goods__part--l
            .mini-goods__img
              img(src="img/content/goods_1.png", alt="image")
            .mini-goods__desc
              b.mini-goods__title Слаломная лыжа "Freeride"
              p
                span
                  b Цвет: 
                  | Красный
                span
                  b Размер: 
                  | 120х35
              .mini-goods__vendor Артикул: 
                b 155268
          .mini-goods__part.mini-goods__part--r
            .product-item__price
              .product-item__price-cur
                b 20 799 
                | руб.
              .product-item__price-old
                b 20 900 
                | руб.
            .mini-goods__btns
              a.product-item__option.product-item__option--status.product-item__option--status-available(href="#goods_nal", data-fancybox="gp_6")
                +svg('available') 
                span В наличии
              a.btn.btn--def.btn--fluid.btn--blue(href="#") В корзину
        .mini-goods
          .product-item__option.product-item__option--favorite
            +svg('heart_fill') 
          .mini-goods__part.mini-goods__part--l
            .mini-goods__img
              img(src="img/content/goods_1.png", alt="image")
            .mini-goods__desc
              b.mini-goods__title Слаломная лыжа "Freeride"
              p
                span
                  b Цвет: 
                  | Красный
                span
                  b Размер: 
                  | 120х35
              .mini-goods__vendor Артикул: 
                b 155268
          .mini-goods__part.mini-goods__part--r
            .product-item__price
              .product-item__price-cur
                b 20 799 
                | руб.
              .product-item__price-old
                b 20 900 
                | руб.
            .mini-goods__btns
              a.product-item__option.product-item__option--status.product-item__option--status-available(href="#goods_nal", data-fancybox="gp_9")
                +svg('available') 
                span В наличии
              a.btn.btn--def.btn--fluid.btn--blue(href="#") В корзину
        .mini-goods
          .product-item__option.product-item__option--favorite
            +svg('heart_fill') 
          .mini-goods__part.mini-goods__part--l
            .mini-goods__img
              img(src="img/content/goods_1.png", alt="image")
            .mini-goods__desc
              b.mini-goods__title Слаломная лыжа "Freeride"
              p
                span
                  b Цвет: 
                  | Красный
                span
                  b Размер: 
                  | 120х35
              .mini-goods__vendor Артикул: 
                b 155268
          .mini-goods__part.mini-goods__part--r
            .product-item__price
              .product-item__price-cur
                b 20 799 
                | руб.
              .product-item__price-old
                b 20 900 
                | руб.
            .mini-goods__btns
              a.product-item__option.product-item__option--status.product-item__option--status-available(href="#goods_nal", data-fancybox="gp_10")
                +svg('available') 
                span В наличии
              a.btn.btn--def.btn--fluid.btn--blue(href="#") В корзину
        +social()
  
    -var relative_title = 'С этим товаром покупают';
    +relative_slide()
    +ban()
    -var relative_title = 'просмотренные товары';
    +relative_slide()






























//- 