/* lead-up style */
//retina
// https://github.com/strues/retinajs
// для использования доставляем дата атрибут data-rjs="3", в бекграундах используем миксин
// +retina('../img/general/', 3, cover, center center no-repeat)
//@import "../libs/retina/_retina.sass"

@import "smart-grid"
@import "variabls"
@import "mixin"
@import "font"
@import "sprite"
@import "same_style"
//@include retina-sprites($retina-groups) //раскоменить для ретины

// @import "pixel-glass"

/* lead-up style end */

/* blocks style */ 

/* head */
@import "../pug/modules/header/header"

/* foot */
@import "../pug/modules/foot/foot"

/* forms */
@import "../pug/modules/forms/forms"

/* menu */
@import "../pug/modules/menu/menu"

/* blocks style end*/


//.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__video-close, .fotorama__video-play
  background-image: url('../img/general/fotorama.png')
  background-repeat: no-repeat

.wrapper
  // min-height: calc(100vh - 400px)

.row--middle
  align-items: center
 
.bg
  background-image: url(../img/general/bg.png)
  background-repeat: no-repeat
  background-position: center 0
  background-size: cover




//smartgrid settings 
// .container
//   +container()
// .row
//   +row()
// .col
//   +col()
//   +cols(12)



/* page style */


.main-slider

  .slide-controll
    position: absolute
    top: 50%
    z-index: 10
    width: 25px
    height: 25px
    cursor: pointer
    // border-radius: 50%
    background-color: $or
    transform: translateY(-50%)
    opacity: .5
    transition: $tr
    svg
      +absolute-center()
      +size(7,11)
      fill: $f
    &:hover
      opacity: 1
  .slide-controll--prev
    left: 20px
    border-radius: 50%
  .slide-controll--next
    right: 20px
    border-radius: 50%





.main-slider__content
  position: relative
  color: $f
  background-repeat: no-repeat
  background-position: 0 0
  background-size: cover
.main-slider__content-height
  padding-top: 35.5%

.main-slider__content-fill
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  padding: 65px 90px


.main-slider__title
  margin-bottom: 15px
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
  color: $f
  font-size: 48px
  font-weight: 700
  text-transform: uppercase

.main-slider__desc
  margin-bottom: 25px


.slide-controll
  position: absolute
  top: 50%
  z-index: 10
  width: 30px
  height: 30px
  cursor: pointer
  // border-radius: 3px
  background-color: #ededed
  transform: translateY(-50%)
  opacity: .5
  transition: $tr
  svg
    +absolute-center()
    +size(20)
    fill: $def
  &:hover
    opacity: 1
.slide-controll--prev
  left: 0
  border-radius: 0 3px 3px 0
.slide-controll--next
  right: 0
  border-radius: 3px 0 0 3px




 





/* page style end */

/*media style*/
@import "media"
