body
  position: relative
  min-width: 300px
  font-family: $baseFontFamily
  font-size: $baseFontSize+px
  font-weight: 400
  color: $def
  line-height: 1.2
  //line-height: 1.2 //if line height "auto" in Photoshop
 
 


*::placeholder
  color: inherit
  opacity: 1
  transition: $tr
*:focus::placeholder
  opacity: 0
*::selection
  background-color: $or
  color: #fff
 
// body input:focus:required:invalid,
// body textarea:focus:required:invalid
//   color: #666
// body input:required:valid,
// body textarea:required:valid
//   color: #666

*
  box-sizing: border-box
  outline: none !important

//.clearfix
  *zoom: 1
  &::before, &::after
    content: ""
    display: table
  &::after
    clear: both

//.img-responsive
  display: block
  max-width: 100%
  height: auto
svg
  display: inline-block
img
  max-width: 100%
  height: auto
br
  line-height: 0
  font-size: 0
a, input, button
  text-decoration: none
  color: inherit
  outline: none
  border: none
  box-sizing: border-box
  background: transparent
  &:hover
    outline: none
    color: inherit
    text-decoration: none
  &:focus
    outline: none
    color: inherit
    text-decoration: none
  &:active
    outline: none
    color: inherit
    text-decoration: none
input,textarea
  border: 1px solid #000
select
  outline: none
button
  cursor: pointer
label
  cursor: pointer
  user-select: none //запрещает выделения при клике
  //&:active
    //user-select: none //Подпись, выделяемая при клике извне
  &.error
    color: red
textarea
  resize: none //запрещает изменения размера мишью
  outline: none
  color: inherit
ul
  list-style-type: none
  margin: 0
  padding: 0
h1,h2,h3,h4,h5,h6
  // margin: 0
  // font-weight: normal
  line-height: 1
.h2
  font-size: 22px
  font-weight: 700
  line-height: 1
  text-transform: uppercase
.h3
  font-size: 18px
  font-weight: 700
  +lh(20,18)
  text-transform: uppercase


.hidden
  display: none

// фикс бага ?? с случайной анимацией перелистывания цифр
//.flip-clock-wrapper ul.play li.flip-clock-active
  animation: none

.btn
  display: inline-flex
  justify-content: center
  align-items: center
  min-width: 100px
  background: lightgrey
  transition: $tr
  line-height: 1

.btn--def
  height: 30px
  width: 127px
  border-radius: 3px
.btn--fluid
  width: auto
  min-width: 0
  padding: 0 15px
.btn--white
  font-size: 12px
  background: #ffffff
  .svg
    +size(20)
    fill: $def
    margin-right: 10px
    transition: $tr
  &:hover
    color: $f
    background: $def
    .svg
      fill: $f
.btn--orange
  color: $f
  font-size: 14px
  background: $or
  &:hover
    color: $f
    background: $def
.btn--black
  color: $f
  font-size: 14px
  background: $def
  &:hover
    color: $f
    background: lighten($def, 13%)
.btn--blue
  color: $f
  font-size: 14px
  background: $blue2
  &:hover
    color: $f
    background: $def

button[type='submit']
  .form-load
    width: 0
    height: 20px
    line-height: 0
    font-size: 0
    overflow: hidden
    .lds-spinner
      width: 100%
      height: 100%
      fill: currentColor

//.counter
  margin-top: 20px
  padding-bottom: 50px
  font-size: 57px
  font-weight: 300
  line-height: 1
  letter-spacing: 0.4px
  color: #ffffff
  span
    position: relative
    display: inline-block
    &:not(:last-child)
      margin-right: 55px
      &::before
        content: ':'
        position: absolute
        top: 0px
        right: -41px
        font-family: FuturaNewMedium
        animation: blinking 1s infinite cubic-bezier(1,-1.29, 1, 1)
    &::after
      position: absolute
      top: 100%
      left: 0
      right: 0
      padding-top: 10px
      color: #ffffff
      text-align: center
      font-size: 19px
      letter-spacing: 0.4px

    &:nth-child(1)
      &::after
        content: 'Days'
    &:nth-child(2)
      &::after
        content: 'Hours'
    &:nth-child(3)
      &::after
        content: 'Minutes'
    &:nth-child(4)
      &::after
        content: 'Seconds'


//@keyframes blinking
  0%
    opacity: 1
  50%
    opacity: 0
  100%
    opacity: 0
// count style end


.subscribe

.subscribe--foot
  margin-top: 20px
  padding-bottom: 10px
  +xs-block()
    text-align: left
  .subscribe__field
    +xs-block()
      max-width: 100%
.subscribe__title
  padding-bottom: 10px
  color: $def
  font-weight: 700
  line-height: 20px
.subscribe__field
  display: inline-block
  width: 100%
  max-width: 216px
  height: 30px
  color: $grey
  font-size: 12px
  input
    display: block
    width: 100%
    height: 100%
    padding: 0 20px
    border: none
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
    border-radius: 3px
    background-color: $f






.breadcrumb
  display: flex
  padding-top: 25px
  color: $def
  font-size: 14px
  +sm-block()
    flex-wrap: wrap
  li
    padding-right: 20px
    +sm-block()
      padding-right: 10px
    &:not(:last-child)
      &::after
        content: '/'
        color: $or
  a
    display: inline-block
    padding-right: 20px
    +sm-block()
      padding-right: 10px






.goods-slider
  position: relative
  .product-item__info
    left: 10px
    top: 10px
    right: auto
    z-index: 10
    padding-top: 16px;
    padding-right: 16px;
    padding: 10px 15px
    color: $f
    border-radius: 3px
    background-color: rgba(15, 63, 101, 0.7)
    .svg
      fill: $f
    .product-item__option--favorite
      color: inherit
      user-select: none
      margin-bottom: 0
  .product-item__actions
    top: 10px
    left: auto
    right: -6px
    z-index: 10
  .actions__item
    &::before
      content: ''
      position: absolute
      left: auto
      right: 0
      top: 100%
  .actions__item--sale
    background: $or
    &::before
      +triangle(topleft, 6px, 6px, darken($or,10%))
  .actions__item--new
    background: #1d67a2
    &::before
      +triangle(topleft, 6px, 6px, darken(#1d67a2,10%))
  .actions__item--hit
    background: $def
    &::before
      +triangle(topleft, 6px, 6px, darken($def,10%))
.goods-slider__container

.goods-slider__item,.goods-slider-nav__item
  position: relative
  background-repeat: no-repeat
  background-position: center 0
  background-size: cover
  border-radius: 3px
.goods-slider__height
  padding-top: 68%
.goods-slider__item


.goods-slider-nav
  margin-top: 20px
  .goods-slider-controll
    position: absolute
    top: 0
    bottom: 0
    z-index: 10
    width: 30px
    height: auto
    border-radius: 0
    background: rgba(255, 255, 255, 0.6)
    transform: none
  .goods-slider-controll--prev
    // left: 10px
  .goods-slider-controll--next
    // right: 10px
.goods-slider-nav__item-wrap
  margin-left: 10px
  margin-right: 10px
  // padding-left: 10px
  // padding-right: 10px

.goods-slider-nav__height
  padding-top: 63%



.goods-slider-controll
  position: absolute
  top: 50%
  bottom: 0
  z-index: 10
  width: 30px
  height: 30px
  cursor: pointer
  border-radius: 3px 0 0 3px
  background-color: #ededed
  // background: rgba(255, 255, 255, 0.6)
  transform: translateY(-50%)
  svg
    +size(11)
    fill: $def
    +absolute-center()
  &--prev
    left: 0
    border-radius: 3px 0 0 3px;
  &--next
    right: 0
    border-radius: 0 3px 3px 0;



.tabs__content 
  display: none
.tabs__list-item
  cursor: pointer
.tabs__content.active-tab
  display: block




.goods-char--char
  margin-top: 40px
  border-top: 1px solid #ededed

.h3--card
  display: flex
  align-items: center
  justify-content: space-between
.all-char
  display: inline-flex
  align-items: center
  color: $grey
  font-size: 14px
  font-weight: 400
  line-height: 1
  transition: $tr
  +xs-block()
    display: none
  .svg
    +size(15)
    margin-right: 8px
    fill: $grey
    transition: $tr
  &:hover
    color: $or
    .svg
      fill: $or














.social
  display: flex
  align-items: center
  justify-content: center
  padding: 23px
  border-radius: 3px
  background-image: url(../img/general/bg.png)
  .svg
    +size(25)


.social__item
  margin: 0 5px
.social__link
  display: block
  font-size: 0
  background: #fff
.social__item--vk
  .svg
    fill: #4c6997
.social__item--fc
  .svg
    fill: #454f91
.social__item--od
  .svg
    fill: #e77529
.social__item--gp
  .svg
    fill: #d85042
.social__item--tw
  .svg
    fill: #2da0e9
.social__item--tg
  .svg
    fill: #669dd7


/*===========================
  ======responsive table======
  ===========================*/
.table--card
  width: 100%
  table-layout: fixed
  // padding-left: 40px
  // padding-right: 40px
  font-size: 15px
  border-spacing: 0
  border: 1px solid #f9f9f9
  .available
    color: $or
  .table__row-title
    padding-left: 40px
    padding-right: 40px
    th
      padding: 15px 0
      text-align: left
      font-size: 18px
      font-weight: 700
      line-height: 1.1
      &:nth-child(1)
        width: 50%
        padding-left: 40px
        +sm-block()
          width: 100%
          text-align: left
      &:nth-child(2)
        width: 25%
        text-align: center
        +sm-block()
          width: 100%
          text-align: left
      &:nth-child(3)
        width: 25%
        padding-right: 40px
        text-align: right
        +sm-block()
          width: 100%
          text-align: left
    +sm-block()
      display: none
  .table__row-content
    font-size: 14px
    a
      display: flex
      align-items: center
      color: $or
      span
        border-bottom: 1px solid
    .svg
      +size(10,14)
      margin-right: 5px
      fill: $or
    &:nth-child(even)
      background: #f9f9f9
    +sm-block()
      display: block
      margin-bottom: 20px
      // border-bottom: 1px solid rgba(0, 0, 0, 0.2)
  .table__td
    padding: 15px 0
    &:nth-child(1)
      padding-left: 40px
      +sm-block()
        width: 100%
        padding-left: 15px
        padding-right: 15px
        padding-top: 15px
        text-align: left
    &:nth-child(2)
      text-align: center
      +sm-block()
        width: 100%
        padding-left: 15px
        padding-right: 15px
        text-align: left
    &:nth-child(3)
      padding-right: 40px
      +sm-block()
        width: 100%
        padding-left: 15px
        padding-right: 15px
        text-align: left
      text-align: right

    // border-bottom: 1px solid rgba(0, 0, 0, 0.2)
    +sm-block()
      display: block
      display: flex
      // margin-bottom: 20px
      padding: 0
      padding-bottom: 15px
      border-bottom: none
    &::before
      content: attr(data-title)": "
      display: none
      margin-bottom: 5px
      font-size: 14px
      font-weight: bold
      +sm-block()
        display: block
        min-width: 110px
        word-break: break-word
        // background: red
        // display: inline-block
        // float: left

/*===========================
  ====responsive table end====
  ===========================*/



.pagination
  position: relative
  max-width: 400px
  width: 100%
  margin-top: 40px
  margin-bottom: 40px
  margin-left: auto
  margin-right: auto
  padding: 0 60px
  line-height: 1
  // background: rgba(0,0,0,0.2)
  +xsl-block()
    padding: 0 14px
.pagination__controll-link
  position: absolute
  top: 50%
  display: flex
  align-items: center
  transform: translateY(-50%)
  transition: $tr
  // background: #000
  +xsl-block()
    font-size: 0

  &:hover
    color: $or
    .svg
      fill: $or
  .svg
    // +size()
    width: 6px
    height: 10px
    fill: #383737
    transition: $tr
    +xsl-block()
      +size(12)
.pagination__controll-link--prev
  left: 0
  .svg
    margin-right: 5px
.pagination__controll-link--next
  right: 0
  .svg
    margin-left: 5px

.pagination__list
  display: flex
  justify-content: space-between
  li
    margin: 0 4px
    +xxs-block()
      // margin: 0 8px
  .active
    a
      color: #fff
      background: $or
  a
    display: flex
    +size(36)
    justify-content: center
    align-items: center
    border-radius: 3px
    border: 2px solid transparent
    transition: $tr
    // background: $or
    +xxs-block()
      +size(30)
    &:hover
      border-color: $or
































// 