body
  position: relative
  min-width: 300px
  font-family: $baseFontFamily
  font-size: $baseFontSize+px
  font-weight: 400
  color: $def
  line-height: 1.2
  //line-height: 1.2 //if line height "auto" in Photoshop
 
 


*::placeholder
  color: inherit
  opacity: 1
  transition: $tr
*:focus::placeholder
  opacity: 0
*::selection
  background-color: $or
  color: #fff
 
// body input:focus:required:invalid,
// body textarea:focus:required:invalid
//   color: #666
// body input:required:valid,
// body textarea:required:valid
//   color: #666

*
  box-sizing: border-box
  outline: none !important

//.clearfix
  *zoom: 1
  &::before, &::after
    content: ""
    display: table
  &::after
    clear: both

//.img-responsive
  display: block
  max-width: 100%
  height: auto
svg
  display: inline-block
img
  max-width: 100%
  height: auto
br
  line-height: 0
  font-size: 0
a, input, button
  text-decoration: none
  color: inherit
  outline: none
  border: none
  box-sizing: border-box
  background: transparent
  &:hover
    outline: none
    color: inherit
    text-decoration: none
  &:focus
    outline: none
    color: inherit
    text-decoration: none
  &:active
    outline: none
    color: inherit
    text-decoration: none
input,textarea
  border: 1px solid #000
select
  outline: none
button
  cursor: pointer
label
  cursor: pointer
  user-select: none //запрещает выделения при клике
  //&:active
    //user-select: none //Подпись, выделяемая при клике извне
  &.error
    color: red
textarea
  resize: none //запрещает изменения размера мишью
  outline: none
  color: inherit
ul
  list-style-type: none
  margin: 0
  padding: 0
h1,h2,h3,h4,h5,h6
  // margin: 0
  // font-weight: normal
  line-height: 1
.h2
  font-size: 22px
  font-weight: 700
  line-height: 1
  text-transform: uppercase
.h3
  font-size: 18px
  font-weight: 700
  +lh(20,18)
  text-transform: uppercase


.hidden
  display: none

// фикс бага ?? с случайной анимацией перелистывания цифр
//.flip-clock-wrapper ul.play li.flip-clock-active
  animation: none

.btn
  display: inline-flex
  justify-content: center
  align-items: center
  min-width: 100px
  background: lightgrey
  transition: $tr
  line-height: 1

.btn--def
  height: 30px
  width: 127px
  border-radius: 3px
.btn--fluid
  width: auto
  min-width: 0
  padding: 0 15px
.btn--white
  font-size: 12px
  background: #ffffff
  .svg
    +size(20)
    fill: $def
    margin-right: 10px
    transition: $tr
  &:hover
    color: $f
    background: $def
    .svg
      fill: $f
.btn--orange
  color: $f
  font-size: 14px
  background: $or
  &:hover
    color: $f
    background: $def
.btn--black
  color: $f
  font-size: 14px
  background: $def
  &:hover
    color: $f
    background: lighten($def, 13%)
.btn--blue
  color: $f
  font-size: 14px
  background: $blue2
  &:hover
    color: $f
    background: $def

button[type='submit']
  .form-load
    width: 0
    height: 20px
    line-height: 0
    font-size: 0
    overflow: hidden
    .lds-spinner
      width: 100%
      height: 100%
      fill: currentColor

//.counter
  margin-top: 20px
  padding-bottom: 50px
  font-size: 57px
  font-weight: 300
  line-height: 1
  letter-spacing: 0.4px
  color: #ffffff
  span
    position: relative
    display: inline-block
    &:not(:last-child)
      margin-right: 55px
      &::before
        content: ':'
        position: absolute
        top: 0px
        right: -41px
        font-family: FuturaNewMedium
        animation: blinking 1s infinite cubic-bezier(1,-1.29, 1, 1)
    &::after
      position: absolute
      top: 100%
      left: 0
      right: 0
      padding-top: 10px
      color: #ffffff
      text-align: center
      font-size: 19px
      letter-spacing: 0.4px

    &:nth-child(1)
      &::after
        content: 'Days'
    &:nth-child(2)
      &::after
        content: 'Hours'
    &:nth-child(3)
      &::after
        content: 'Minutes'
    &:nth-child(4)
      &::after
        content: 'Seconds'


//@keyframes blinking
  0%
    opacity: 1
  50%
    opacity: 0
  100%
    opacity: 0
// count style end


.subscribe

.subscribe--foot
  margin-top: 20px
  padding-bottom: 10px
  +xs-block()
    text-align: left
  .subscribe__field
    +xs-block()
      max-width: 100%
.subscribe__title
  padding-bottom: 10px
  color: $def
  font-weight: 700
  line-height: 20px
.subscribe__field
  display: inline-block
  width: 100%
  max-width: 216px
  height: 30px
  color: $grey
  font-size: 12px
  input
    display: block
    width: 100%
    height: 100%
    padding: 0 20px
    border: none
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
    border-radius: 3px
    background-color: $f






.breadcrumb
  display: flex
  padding-top: 25px
  color: $def
  font-size: 14px

  li
    padding-right: 20px
    &:not(:last-child)
      &::after
        content: '/'
        color: $or
  a
    display: inline-block
    padding-right: 20px







.goods-slider

.goods-slider__container

.goods-slider__item,.goods-slider-nav__item
  position: relative
  background-repeat: no-repeat
  background-position: center 0
  background-size: cover
  border-radius: 3px
.goods-slider__height
  padding-top: 68%


.goods-slider-nav
  // margin-left: -10px
  // margin-right: -10px
.goods-slider-nav__item-wrap

.goods-slider-nav__item
  margin-left: 10px
  margin-right: 10px
.goods-slider-nav__height
  padding-top: 63%



.goods-slider-controll
  position: absolute
  top: 0
  bottom: 0
  z-index: 10
  width: 30px
  background: rgba(255, 255, 255, 0.6)
  svg
    +size(11)
    fill: $def
    +absolute-center()
  &--prev
    left: 0
    border-radius: 3px 0 0 3px;
  &--next
    right: 0
    border-radius: 0 3px 3px 0;






// 