mixin mmenu(name)
  - name = name || ''
  div(class="s-menu " + name) 
    ul.s-menu__list
      li.s-menu__item
        a(href="#").s-menu__link Катера, яхты, швертботы Катера, яхты, швертботы
        ul.s-menu__sublist
          li.s-menu__subitem
            a(href="#").s-menu__sublink Катера
          li.s-menu__subitem
            a(href="#").s-menu__sublink Катера, яхты
          li.s-menu__subitem
            a(href="#").s-menu__sublink Катера, яхты, швертботы 2
            ul.s-menu__sublist
              li.s-menu__subitem
                a(href="#").s-menu__sublink Катера, яхты, швертботы 3
                ul.s-menu__sublist
                  li.s-menu__subitem
                    a(href="#").s-menu__sublink Катера, яхты, швертботы 4
                    ul.s-menu__sublist
                      li.s-menu__subitem
                        a(href="#").s-menu__sublink Катера, яхты, швертботы 5
      li.s-menu__item
        a(href="#").s-menu__link Надувные лодки и оборудование
        ul.s-menu__sublist
          li.s-menu__subitem
            a(href="#").s-menu__sublink Надувные лодки и оборудование 2
      li.s-menu__item
        a(href="#").s-menu__link Лодочные моторы и оборудование
      li.s-menu__item
        a(href="#").s-menu__link Вездеходы



































































//- 