/* foot style */ 
.foot
  margin-top: 50px
  padding-top: 30px
  box-shadow: 0 -5px 15px rgba(51, 51, 51, 0.1)
  background-color: #fcfcfc
  @extend .bg

.foot__list
  padding-top: 15px
  color: $blue2
  font-size: 14px
  line-height: 1

.foot__list-link
  display: block
  display: inline-block
  padding: 10px
  padding-left: 0
  // transition: $tr
  &:hover
    font-weight: 700
    text-decoration: underline


.socials
  display: flex
  justify-content: flex-end
.socials--foot
  padding-top: 16px
.socials__link
  display: flex
  justify-content: center
  align-items: center
  width: 50px
  height: 50px
  margin-left: 10px
  border-radius: 3px
  background-color: $blue2
  transition: $tr
  &:hover
    background-color: $blue
  .svg
    +size(20)
    fill: $f


.foot__form
  text-align: right

.foot__form-search
  position: relative
  max-width: 170px
  width: 100%
  height: 28px
  margin-left: auto
  margin-top: 10px
  color: $def
  font-size: 12px
  input
    display: block
    width: 100%
    height: 100%
    padding-left: 30px
    padding-right: 5px
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
    border-radius: 3px
    background-color: #ffffff
    border: none
  .svg
    position: absolute
    top: 0
    bottom: 0
    left: 10px
    +size(12,16)
    margin: auto
    fill: $def





























































