mixin foot()
  footer.foot
    .container
      .row
        .col-md-3
          h3.h3.h3--foot-list Помощь покупателю
          ul.foot__list
            li.foot__list-item
              a.foot__list-link(href="#") Статус заказа
            li.foot__list-item
              a.foot__list-link(href="#") Оформление заказа
            li.foot__list-item
              a.foot__list-link(href="#") Доставка
            li.foot__list-item
              a.foot__list-link(href="#") Оплата
            li.foot__list-item
              a.foot__list-link(href="#") Возврат и обмен товара
            li.foot__list-item
              a.foot__list-link(href="#") Политика конфиденциальности
            li.foot__list-item
              a.foot__list-link(href="#") Дисконтная система
            li.foot__list-item
              a.foot__list-link(href="#") Подарочные сертификаты
        .col-md-3
          h3.h3.h3--foot-list Информация о компании
          ul.foot__list
            li.foot__list-item
              a.foot__list-link(href="#") О компании
            li.foot__list-item
              a.foot__list-link(href="#") Новости
            li.foot__list-item
              a.foot__list-link(href="#") Сеть магазинов
            li.foot__list-item
              a.foot__list-link(href="#") Дилеры
            li.foot__list-item
              a.foot__list-link(href="#") Франчайзинг
            li.foot__list-item
              a.foot__list-link(href="#") Вакансии
        .col-md-3
          h3.h3.h3--foot-list Информация о компании
          ul.foot__list
            li.foot__list-item
              a.foot__list-link(href="#") О компании
            li.foot__list-item
              a.foot__list-link(href="#") Новости
            li.foot__list-item
              a.foot__list-link(href="#") Сеть магазинов
            li.foot__list-item
              a.foot__list-link(href="#") Дилеры
            li.foot__list-item
              a.foot__list-link(href="#") Франчайзинг
            li.foot__list-item
              a.foot__list-link(href="#") Вакансии
        .col-md-3
          ul.socials.socials--foot
            li.socials__item
              a.socials__link(href="#")
                +svg('vk')
            li.socials__item
              a.socials__link(href="#")
                +svg('fc')
            li.socials__item
              a.socials__link(href="#")
                +svg('inst')
          form.foot__form
            .foot__form-search
              +svg('location')
              input.foot__form-search-input(type="search",placeholder="Поиск магазинов рядом")
            p: b Подпишитесь на наши новости